.HeroBaner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 92vh;
}

.HeroBaner .backDropImage {
    position: absolute;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    z-index: -2;
}

.HeroBaner .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: var(--overlayGradient);
    z-index: -1;
}

.HeroBaner h1 {
    color: var(--headingColor);
    font-size: 4.2rem;
}

.HeroBaner p {
    color: var(--headingColorLight);
    font-size: 1.2rem;
    margin: 0.4rem 0 3rem 0;
}

.HeroBaner .inputArea {
    color: var(--textColor);
    border-radius: 100rem;
    overflow: hidden;
    height: 4rem;
}

.HeroBaner .inputArea :is(input, button) {
    height: 100%;
    font-size: 1.2rem;
}

.HeroBaner .inputArea input {
    padding-left: 3rem;
    padding-right: 0.86rem;
    width: 32rem;
    border: none;
    outline: none;
}

.HeroBaner .inputArea button {
    color: var(--textColor);
    padding: 0 3rem;
    border: none;
    background-image: linear-gradient(90deg, var(--brandColor), var(--brandColorDark));
}