.SwitchAbleTabs {
    position: relative;
    display: flex;
    padding: 0.2rem;
    border-radius: 100rem;
    border: 0.16rem solid transparent;
    background-color: var(--pureWhite);
}

.SwitchAbleTabs .bg {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100%;
    width: 50%;
    background-image: linear-gradient(90deg, var(--brandColor), var(--brandColorDark));
    border-radius: 100rem;
    transform: translate(0, -50%);
    transition: 0.18s linear;
}

.SwitchAbleTabs div {
    transition: all 1.5s ease;
    color: var(--pureBlack);
    padding: 0.4rem 1.4rem;
    border-radius: 100rem;
    cursor: pointer;
    z-index: 0;
}