@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@300;400;500&family=Rubik:ital,wght@0,300;0,400;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, Poppins, sans-serif;
}

:root {
    --containerPadding: 0rem 8rem;
    --mainBgLight: #062f68;
    --mainBg: #04152d;

    --brandColor: #eb8933;
    --brandColorDark: #f03232;
    --pureWhite: #fff;
    --pureBlack: #000;
    --whiteGlassColor: #ffffff4e;

    --textColor: #ffffffce;
    --textColorLight: #ffffffa0;
    --headingColor: #ffffff;
    --headingColorLight: #ffffffe7;

    --blackTextColor: #000000d3;
    --blackTextColorHover: #8484848b;
    --overlayGradient: linear-gradient(180deg, #04152d29, #04152de2 90%, var(--mainBg) 100%);
}

body {
    background: var(--mainBg);
    margin-bottom: 4rem;
}

::-webkit-scrollbar {
    width: 0.2rem;
}

button {
    cursor: pointer;
}

.skeleton {
    background-image: linear-gradient(90deg, #101c2c65 10%, #101c2ca2 20%, #101c2c65 36%);
    background-size: 200%;
    animation: loading 1.5s linear infinite;
    ;
}

@keyframes loading {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -200% 0;
    }
}

@media (max-width:1200px) {
    html {
        font-size: 95%;
    }

    body {
        --containerPadding: 0rem 7.2rem;
    }
}

@media (max-width:1080px) {
    html {
        font-size: 80%;
    }

    body {
        --containerPadding: 0rem 4.8rem;
    }
}

@media (max-width:768px) {
    html {
        font-size: 62.5%;
    }

    body {
        --containerPadding: 0rem 4.8rem;
    }
}

@media (max-width:480px) {

    body {
        --containerPadding: 0rem 4.8rem;
    }
}